<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>
        <%= post.title %>
    </title>
</head>

<body>
  
        <h6 class="author">
            <%= post.author %>
        </h6>
        <div class="post-date"><%= post.date %></div>
        <h1 class="post-header">
            <%= post.title %>
        </h1>
      
        <p class="post-content">
            <%= post.content %>
        </p>
        

    
</body>

</html>